<!--<h1>New book</h1>-->

<!--<%= form_with model:@book,url:create_book_path,method: :post,local:true do |f|%>-->
<!--<p>title</p>-->
<!--<%= f.text_field:title%>-->
<!--<p>body</p>-->
<!--<%= f.text_area:body%>-->
<!--<%= f.submit'送信'%>-->
<!--<%end%>-->
